@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulseEffect {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.pulse-effect {
  animation: pulseEffect 2000ms ease-in-out infinite;
}

.block-content p {
  @apply mt-5 text-center lg:text-justify;
}

.block-content a {
  @apply text-[#b89959] hover:underline;
}
